@media (max-width: 991.98px) {
  .navbar-nav .nav-link {
    font-size: 1.25rem !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .navbar-nav .btn {
    padding: 8px 16px !important;
  }

  html,
  body {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden; /* Prevents unwanted horizontal scrolling */
  }
}

@media (min-width: 992px) {
  .navbar-nav .nav-link {
    font-size: 1.2rem !important;
  }
}
