@media (max-width: 991.98px) {
  .navbar-nav .nav-link {
    font-size: 1.25rem !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .navbar-nav .btn {
    padding: 8px 16px !important;
  }
  .mobile-hero-bg {
    background-image: url("https://res.cloudinary.com/vistaprint/images/f_auto,q_auto/v1706687909/ideas-and-advice-prod/en-us/BUILD-GREAT-CORPORATE-DESIGN/BUILD-GREAT-CORPORATE-DESIGN.jpg?_i=AA") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    width: 100% !important;
    height: 250px !important;
    display: block !important;
  }
}

@media (min-width: 992px) {
  .navbar-nav .nav-link {
    font-size: 1.2rem !important;
  }
}
