<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restablecer Contraseña - ProSkills</title>
  
</head>
<body>

  <div class="card card-recover shadow-sm border-0 p-4 bg-white rounded-3">
    
    <div>
      <h2>Nueva Contraseña</h2>
      <p>Ingresa tu nueva clave de acceso para actualizar tu cuenta.</p>
    </div>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form action="{{ url_for('change_password', token=token) }}" method="POST">
      
      <div>
        <input 
          type="password" 
          name="password" 
          class="form-control" 
          id="floatingPassword" 
          placeholder="Nueva contraseña" 
          required
        >
        <label>Nueva Contraseña</label>
      </div>

      <div>
        <input 
          type="password" 
          name="confirm_password" 
          class="form-control" 
          id="floatingConfirmPassword" 
          placeholder="Repita la contraseña" 
          required
        >
        <label>Repita la contraseña</label>
      </div>

      <button class="btn btn-dark w-100 py-2 fw-bold shadow-sm" type="submit">
        Actualizar Contraseña
      </button>

    </form>

  </div>
</body>
</html>