<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ProSkills - Programas</title>
    <link rel="icon" type="image/x-icon" href="static/SGAP.svg" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary py-1">
        <div class="container-fluid d-flex flex-wrap px-3 px-lg-4">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div
              class="d-flex flex-column flex-lg-row align-items-center justify-content-center w-100 mt-3 mt-lg-0"
            >
              <a
                class="navbar-brand d-flex flex-column flex-lg-row align-items-center me-0 me-lg-auto mb-3 mb-lg-0"
                href="#"
              >
                <img
                  src="static/ProSkills.png"
                  alt="Logo"
                  width="60"
                  height="48"
                  class="img-fluid"
                />
                <span class="text-primary fw-bold ms-lg-2 text-center"
                  >ProSkills Academia</span
                >
              </a>
              <ul
                class="navbar-nav d-flex flex-column flex-lg-row gap-2 gap-lg-3 justify-content-center align-items-center me-lg-3 w-lg-auto"
              >
                <li class="nav-item text-center">
                  <a class="nav-link text-dark" href="/">Inicio</a>
                </li>
                <li class="nav-item text-center">
                  <a class="nav-link text-dark" href="#">Cursos</a>
                </li>
                <li class="nav-item text-center">
                  <a class="nav-link text-dark" href="/about#soporte"
                    >Contacto</a
                  >
                </li>
                <li class="nav-item text-center">
                  <a class="nav-link text-dark" href="/account">Mi Cuenta</a>
                </li>
                <li class="nav-item d-flex justify-content-center mt-2 mt-lg-0">
                  <button
                    class="btn btn-outline-primary"
                    onclick="window.location.href = '/login'"
                    type="submit"
                  >
                    Iniciar Sesion
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="container">
        <div class="row mt-3">
          <div class="col">
            <h2>Programas de capacitación</h2>
          </div>
          <div class="row fw-normal">
            <p>
              Selecciona una ruta de aprendizaje especializada y certificada
              para potenciar tu perfil profesional
            </p>
          </div>
          <div class="row">
            <ul class="list-group">
              <li class="list-group-item">
                <div class="container my-4">
                  <div class="row align-items-center g-4">
                    <div class="col-12 col-md-6">
                      <img
                        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fredapplelearning.in%2Fwp-content%2Fuploads%2F2023%2F12%2Froadmap-to-become-a-fullstack-developer.jpg&f=1&nofb=1&ipt=ef233f04ff9cae71aedd31dbe2ba0677e6d66db7a6ac5c04886ec5ac76e482cb"
                        alt="FullStack"
                        class="img-fluid w-100 rounded-3 shadow-sm"
                        style="object-fit: cover"
                      />
                    </div>
                    <div class="col-12 col-md-6">
                      <h3>Ruta FullStack Developer</h3>
                      <p class="text-muted">
                        Domina Frontend y Backend con nuestro trayecto de 6
                        meses.<br /><span class="fw-bold text-dark"
                          >Incluye:</span
                        >
                        Fundamentos Web, React.js, Python/Django, SQL.<br />Diploma
                        oficial al finalizar.
                      </p>
                      <div class="row justify-content-center mt-4">
                        <div class="col-12 col-md-10 col-lg-8 d-grid gap-3">
                          <button
                            class="btn btn-success btn-outline-dark btn-sm fw-semibold text-white"
                          >
                            Valor: $180.000 CLP (Pago Único)
                          </button>

                          <button class="btn btn-light btn-outline-dark btn-sm">
                            Otras opciones
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="container my-4">
                  <div class="row align-items-center g-4">
                    <div class="col-12 col-md-6">
                      <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZs_ygqbvli3tOoT3vbS1cGRM_qFWolzPxOg-hrb6JMa-WIPDWDCXrLUAf&s=10"
                        alt="MarketingDigital"
                        class="img-fluid w-100 rounded-3 shadow-sm"
                        style="object-fit: cover"
                      />
                    </div>
                    <div class="col-12 col-md-6">
                      <h3>Especialista en Marketing Digital</h3>
                      <p class="text-muted">
                        Impulsa marcas online en un trayecto de 5 meses.<br /><span
                          class="fw-bold text-dark"
                          >Incluye:</span
                        >
                        Fundamentos de Marketing, SEO/SEM, Social Media Ads,
                        Analítica digital. Diploma oficial al finalizar.
                      </p>
                      <div class="row mt-4 justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8 d-grid gap-3">
                          <button
                            class="btn btn-success btn-outline-dark btn-sm fw-semibold text-white"
                          >
                            Valor: $250.000 CLP (Pago Único)
                          </button>

                          <button class="btn btn-light btn-outline-dark btn-sm">
                            Otras opciones
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="container my-4">
                  <div class="row align-items-center g-4">
                    <div class="col-12 col-md-6">
                      <img
                        src="https://res.cloudinary.com/dthpnue1d/image/upload/v1764832527/Difference_Between_UX_and_UI_Design_Banner_c6ef4957a5.webp"
                        alt="UI/UX"
                        class="img-fluid w-100 rounded-3 shadow-sm"
                        style="object-fit: cover"
                      />
                    </div>
                    <div class="col-12 col-md-6">
                      <h3>Diseño UI/UX Profesional</h3>
                      <p class="text-muted">
                        Crea experiencias digitales intuitivas y memorables en 4
                        meses.<br /><span class="fw-bold text-dark"
                          >Incluye:</span
                        >
                        Investigación de usuarios (UX Research), Arquitectura de
                        la información, Wireframing, Prototipado en Figma y
                        Pruebas de usabilidad. Diploma oficial al finalizar.
                      </p>
                      <div class="row mt-4 justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8 d-grid gap-3">
                          <button
                            class="btn btn-success btn-outline-dark btn-sm fw-semibold text-white"
                          >
                            Valor: $45.000CLP / Mes
                          </button>

                          <button class="btn btn-light btn-outline-dark btn-sm">
                            Otras opciones
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
